@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
/* root variables */
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Sora:wght@100..800&family=Teko:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

#home {
  margin: 0;
  position: relative;
  overflow: hidden;
}

#black-tint {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: radial-gradient(ellipse at center, transparent, rgb(0, 0, 0) 70%);
  opacity: 1;
  height: 100%;
  width: 100%;
}

#app:hover > #event-cursor {
  opacity: var(--opacity);
}

#event-cursor {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color);
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms linear;
  filter: blur(20px);
}

.pointer, #detail-btn {
  cursor: pointer;
}

.status-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: rgb(255, 0, 0);
  margin-top: 10px;
  padding: 8px;
  padding-inline: 20px;
  background: rgba(255, 0, 0, 0.15);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 8px;
  font-family: "Martian Mono", monospace;
  font-weight: 300;
  font-size: clamp(12px, 1svw, 1.8svw);
  text-align: center;
}
.status-banner .dots {
  min-height: 5px;
  height: 0.5svw;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 100%;
  background: rgb(255, 0, 0);
  animation: warn 2s ease-in-out 0s infinite alternate;
}

@keyframes warn {
  to {
    box-shadow: 0 0 16px 4px rgb(255, 0, 0);
  }
  from {
    box-shadow: 0 0 16px 0px rgb(255, 0, 0);
  }
}
/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

/* Animation */
@keyframes linear-grid {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -200% center;
  }
}
#grid {
  height: auto;
  min-height: calc(100svh - 6px);
  width: auto;
  min-width: calc(100svw - 6px);
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  position: relative;
  background: linear-gradient(to right, rgb(11, 247, 62), rgb(11, 78, 247), rgb(11, 247, 62));
  opacity: 0.2;
  background-size: 200%;
  animation: linear-grid 10s linear 0s infinite;
}

.tile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tile::after {
  background: rgb(0, 0, 0);
  opacity: 1;
  content: "";
  inset: 2px;
  position: absolute;
}

/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 0.8 1.4;
  }
  to {
    rotate: 360deg;
  }
}
#grid-blob {
  background: linear-gradient(to right, rgb(11, 78, 247), rgb(11, 247, 62));
  opacity: 0.3;
  background-clip: border-box;
  height: 50svw;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 15s infinite forwards linear;
  filter: blur(2vmax);
}

/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

#bannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8svw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  color: white;
  text-align: center;
}
#bannerBox #event-name {
  color: white;
  font-size: clamp(30px, 6svw, 8svw);
  font-weight: 600;
}
#bannerBox #event-name .primary {
  color: rgb(247, 180, 11);
}
#bannerBox .p {
  font-weight: 200;
  font-size: clamp(12px, 2svw, 4svw);
  letter-spacing: clamp(4px, 1svw, 2svw);
}
#bannerBox a {
  all: unset;
}
#bannerBox #brand {
  font-weight: 650;
  font-size: clamp(15px, 2.5svw, 2.5svw);
  margin-block: 1svw;
  letter-spacing: clamp(3px, 0.6svw, 1svw);
  color: rgb(247, 180, 11);
}
#bannerBox .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(20px, 4svw, 6svw);
  padding: 10px;
}
#bannerBox .btns .btn {
  all: unset;
  padding: clamp(8px, 0.8svw, 1svw);
  border-radius: 8px;
  letter-spacing: clamp(3px, 0.3svw, 1svw);
  font-size: clamp(8px, 1svw, 2svw);
  cursor: pointer;
}
#bannerBox .btns #enroll {
  background: rgb(247, 180, 11);
  opacity: 1;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: 0.1svw solid gold;
  transition: all ease-in-out 500ms;
}
#bannerBox .btns #enroll:hover, #bannerBox .btns #enroll:focus {
  filter: drop-shadow(rgb(247, 180, 11) 0px 0px 0.8svw);
  scale: 1.05;
  rotate: 1deg;
  cursor: not-allowed;
}
#bannerBox .btns #learn {
  background: hsla(0, 0%, 100%, 0.3);
  opacity: 1;
  border: 0.1svw solid white;
  font-weight: 700;
  transition: all ease-in-out 500ms;
}
#bannerBox .btns #learn:hover, #bannerBox .btns #learn:focus, #bannerBox .btns #learn:active {
  filter: drop-shadow(hsla(0, 0%, 100%, 0.8) 0px 0px 0.8svw);
  scale: 1.05;
  rotate: -1deg;
}

.tsig-text {
  font-family: "Teko", sans-serif;
  font-size: clamp(25px, 3svw, 5svw);
  color: rgb(247, 180, 11);
  letter-spacing: clamp(10px, 2svw, 3svw);
  font-weight: 500;
}

.noti {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  padding: clamp(8px, 0.8svw, 1svw);
  margin: clamp(16px, 1.2svw, 2svw);
  border: 0.03svw solid rgba(255, 255, 255, 0.6);
  border-radius: clamp(4px, 0.4svw, 0.8svw);
  font-family: "Martian Mono", monospace;
  font-weight: 300;
  font-size: clamp(8px, 1svw, 1.8svw);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.2svw;
  transition: all ease 300ms;
}
.noti .dots {
  min-height: 5px;
  height: 0.5svw;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 100%;
}
.noti:hover, .noti:active, .noti:focus {
  filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.4));
  rotate: -0.5deg;
}
.noti #start {
  background: rgb(11, 247, 62);
  animation: lightGreen 2s ease-in-out 0s infinite alternate;
}
@keyframes lightGreen {
  to {
    box-shadow: 0 0 16px 4px rgb(11, 247, 62);
  }
  from {
    box-shadow: 0 0 16px 0px rgb(11, 247, 62);
  }
}
.noti #end {
  background: rgb(255, 0, 0);
  animation: lightRed 2s ease-in-out 1000ms infinite alternate;
}
@keyframes lightRed {
  to {
    box-shadow: 0 0 16px 4px rgb(255, 0, 0);
  }
  from {
    box-shadow: 0 0 16px 0px rgb(255, 0, 0);
  }
}

/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

.divider {
  background: rgb(247, 180, 11);
  opacity: 0.9;
  position: relative;
  min-height: 25svh;
}

.tilt0 {
  background: rgb(11, 78, 247);
  opacity: 0.9;
  position: relative;
  min-height: 25svh;
}

.tilt {
  background: rgb(11, 247, 62);
  opacity: 0.9;
  position: relative;
  min-height: 25svh;
}

.book-like {
  background: rgb(0, 0, 0);
  opacity: 0.9;
  position: relative;
  min-height: 80px;
  height: 5svw;
}

.divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.divider-top .shape-fill {
  fill: rgb(0, 0, 0);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .divider {
    height: 16svh;
  }
  .divider-top svg {
    width: calc(100% + 1.3px);
    height: 90px;
  }
}
/** For mobile devices **/
@media (max-width: 767px) {
  .divider {
    min-height: 8svh;
  }
  .divider-top svg {
    width: calc(100% + 1.3px);
    height: 50px;
  }
}
.tilt0-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt0-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  min-height: 74px;
}

.tilt0-top .shape-fill {
  fill: rgb(247, 180, 11);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .tilt0-top svg {
    width: calc(100% + 1.3px);
    height: 49px;
  }
}
.tilt-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  min-height: 100px;
}

.tilt-top .shape-fill {
  fill: rgb(11, 78, 247);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .tilt-top svg {
    width: calc(100% + 1.3px);
    height: 60px;
  }
}
.book-di {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.book-di svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.book-di .shape-fill {
  fill: rgb(11, 247, 62);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .book-di svg {
    width: calc(100% + 1.3px);
    height: 50px;
  }
}
/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

#event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background: rgba(247, 180, 11, 0.9);
  width: 100%;
  min-height: 80svh;
  color: rgb(0, 0, 0);
  position: relative;
  padding: 2svw 5svw;
}
#event-info .text-wrapper {
  font-size: clamp(20px, 2svw, 3svw);
  line-height: clamp(40px, 2.5svw, 3svw);
  padding: 3svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: clamp(8px, 1svw, 2svw);
}
#event-info .text-wrapper b {
  font-weight: 600;
}

.heading, #enroll-box .heading, #enroll-box .details-heading, .details-heading, #enroll-box .action-call {
  text-align: center;
  font-size: clamp(30px, 4svw, 4.5svw);
  text-transform: uppercase;
  font-family: "Martian Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.2svw;
}

#intern {
  position: relative;
  transition: all ease 500ms;
  color: rgb(11, 78, 247);
}

#detail-btn {
  all: unset;
  margin: 1svw;
  background: rgba(11, 78, 247, 0.9);
  color: rgba(255, 255, 255, 0.9);
  padding: 1.2svw 3svw;
  border-radius: clamp(8px, 0.4svw, 1svw);
  font-weight: 600;
  font-size: clamp(20px, 1.4svw, 2svw);
  text-transform: capitalize;
  transition: all ease 500ms;
}
#detail-btn:hover, #detail-btn:focus, #detail-btn:active {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  scale: 1.02;
  rotate: 0.5deg;
}

/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 5svw, 5svw);
  background: rgba(11, 78, 247, 0.9);
  padding: 1%;
}
#details .imp, #details .imp0 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2svw;
  width: 100%;
}
#details .h2 {
  scale: 0.6;
}
#details .imp0 {
  flex-wrap: wrap;
}
#details .imp0 .box {
  position: relative;
  font-family: "Martian Mono", monospace;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: clamp(30px, 2svw, 3svw);
  justify-content: space-evenly;
  min-width: 25%;
  word-wrap: break-word;
  text-transform: uppercase;
}
#details .imp0 .lang {
  flex-wrap: wrap;
}
#details .imp-box {
  text-transform: uppercase;
  font-family: "Martian Mono", monospace;
  font-weight: 500;
  text-align: left;
  font-size: clamp(14px, 1svw, 3svw);
}
@media (max-width: 400px) {
  #details .imp-box {
    min-height: 16svh;
  }
}
@media (min-width: 400px) and (max-width: 900px) {
  #details .imp-box {
    min-height: 10svh;
  }
}
#details::after, #details::before {
  content: "";
  min-height: 30px;
  width: 100%;
  z-index: 999;
}

.details-heading, #enroll-box .action-call {
  font-weight: 500;
  width: 100%;
  font-size: clamp(24px, 3svw, 3.5svw);
}

.box, #enroll-box .action-btn .box {
  background: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0.5) 0.1svw solid;
  border-radius: clamp(4px, 0.4svw, 0.8svw);
  padding: clamp(2px, 1.2svw, 2svw);
  position: relative;
  font-size: clamp(12px, 1.2svw, 2svw);
  font-weight: 450;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1svw;
  text-align: center;
  text-transform: capitalize;
}
.box .icons, .box #enroll-box .action-btn i, #enroll-box .action-btn .box i, #enroll-box .action-btn .box .icons {
  height: clamp(20px, 2svw, 3svw);
  aspect-ratio: 1;
  stroke-width: 2;
}
.box .text, #enroll-box .action-btn .box .text, .box .title, #enroll-box .action-btn .box .title {
  z-index: 99;
}

.box:hover::before, #enroll-box .action-btn .box:hover::before {
  opacity: 1;
}

.box::before, #enroll-box .action-btn .box::before {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  content: "";
  left: 0;
  top: 0;
  z-index: 0;
  background: radial-gradient(800px circle at var(--mx) var(--my), rgba(var(--data-color), 0.5), transparent 40%);
  opacity: 0;
  transition: all ease 500ms;
}

.learn {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 2svw, 1.2svw);
  width: fit-content;
}

/* root variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
  cursor: default;
}

.pointer, #detail-btn {
  cursor: pointer;
}

#enroll-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background: rgba(11, 247, 62, 0.9);
  width: 100%;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}
#enroll-box .heading, #enroll-box .details-heading, #enroll-box .action-call {
  margin: auto;
  width: 90%;
  text-align: left;
}
#enroll-box #points {
  margin: auto;
  margin-top: clamp(20px, 1.5svw, 3svw);
  width: 90%;
  list-style-type: none;
}
#enroll-box #points li {
  font-size: clamp(16px, 1.4svw, 2svw);
  font-family: "Martian Mono", monospace;
  font-weight: 300;
  border-radius: 1svw;
  margin-bottom: clamp(8px, 0.8svw, 1svw);
  padding: clamp(8px, 0.8svw, 1svw);
}
#enroll-box .action-call {
  color: rgb(0, 0, 0);
  text-align: center;
  width: fit-content;
  scale: 0.8;
  font-weight: 500;
  margin-top: 50px;
}
#enroll-box .action-call span {
  color: rgb(11, 78, 247);
  font-weight: 700;
}
#enroll-box .action-btn {
  all: unset;
  margin: clamp(8px, 1svw, 2svw);
}
#enroll-box .action-btn .box {
  border: none;
  background: rgb(247, 180, 11);
  width: fit-content;
  font-weight: 600;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: clamp(4px, 0.4svw, 1svw);
  transition: all ease 800ms;
}
#enroll-box .action-btn .box:hover, #enroll-box .action-btn .box:focus {
  cursor: not-allowed;
  background: rgb(11, 78, 247);
  color: white;
}
#enroll-box .action-btn .box:hover .rotate, #enroll-box .action-btn .box:focus .rotate {
  rotate: -10deg;
}
#enroll-box .action-btn .box:hover .tsig-text-btn, #enroll-box .action-btn .box:focus .tsig-text-btn {
  color: rgb(247, 180, 11);
}
#enroll-box .action-btn .box::before {
  height: 0;
  width: 0;
}
#enroll-box .action-btn .rotate {
  transition: all ease 600ms;
}
#enroll-box .action-btn .tsig-text-btn {
  color: rgb(11, 78, 247);
  font-size: clamp(16px, 1.5svw, 3svw);
  font-weight: 800;
  transition: all ease 600ms;
}

#enroll-box::after {
  display: block;
  content: "";
  min-height: 40px;
  width: 100%;
}

#foot {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(16px, 1.2svw, 2svw);
  position: relative;
}
#foot a {
  all: unset;
  cursor: pointer;
}
#foot #links-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  gap: clamp(16px, 2svw, 2svw);
  font-family: "Martian Mono", monospace;
  font-weight: 200;
}
#foot #links-box .icons:hover, #foot #links-box #enroll-box .action-btn i:hover, #enroll-box .action-btn #foot #links-box i:hover, #foot #links-box .icons:active, #foot #links-box #enroll-box .action-btn i:active, #enroll-box .action-btn #foot #links-box i:active, #foot #links-box .icons:focus, #foot #links-box #enroll-box .action-btn i:focus, #enroll-box .action-btn #foot #links-box i:focus {
  stroke: var(--color);
  scale: 1.05;
  filter: drop-shadow(0 0 2px var(--color));
}
#foot #foot-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  text-align: center;
  font-family: "Martian Mono", monospace;
  font-weight: 200;
  font-size: clamp(12px, 1svw, 3svw);
  text-transform: uppercase;
}
#foot .location {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  transition: all ease 500ms;
  padding: 8px;
  border-radius: 8px;
  animation: foot-pan 10s linear 0s infinite;
}
#foot .location .icons, #foot .location #enroll-box .action-btn i, #enroll-box .action-btn #foot .location i {
  height: clamp(20px, 1.2svw, 3svw);
  stroke-width: 1.2;
  aspect-ratio: 1;
  stroke: white;
}
#foot .copy {
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(8px, 0.8svw, 3svw);
}
#foot .icons, #foot #enroll-box .action-btn i, #enroll-box .action-btn #foot i {
  height: clamp(28px, 2svw, 3svw);
  aspect-ratio: 1;
  stroke: white;
  stroke-width: 1;
  transition: all ease 500ms;
}
#foot::after {
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.08);
  opacity: 0;
  font-size: clamp(10px, 1svw, 3svw);
  font-family: "Martian Mono", monospace;
  text-transform: uppercase;
  transition: all ease 1200ms;
  content: "made by ateeb ansari";
}
#foot:hover::after {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */