---
import tsig from "@/assets/TSIG logo Black.png";
---

<footer class="px-4 md:px-6 border-t">
  <div class="mx-auto">
    <!-- <div class="flex flex-col md:flex-row justify-between">
      <div class="mb-8 md:mb-0">
        <a href="/" class="mr-4 flex items-center gap-2 lg:mr-6">
          <div
            class="size-8 rounded-md flex items-center justify-center bg-muted border"
          >
            <img src={tsig.src} class="w-full h-full p-0 size-8 scale-125" />
          </div>

          <span class="font-bold lg:inline-block text-xl">TSIG</span>
        </a>

        <div class="mt-2">
          Build by{" "}
          <a class="underline" href="https://x.com/atybdot"> @atyb </a>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 text-left capitalize pr-12">
        <div>
          <h3 class="font-semibold mb-4">Pages</h3>
          <ul class="space-y-2">
            <li>
              <a href="/archives" class=""> archives </a>
            </li>
            <li>
              <a href="/members" class=""> members </a>
            </li>
            <li>
              <a href="/events" class=""> events </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="font-semibold mb-4">Socials</h3>
          <ul class="space-y-2">
            <li>
              <a href="https://github.com/T-SIG" class=""> Github </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/tsig" class=""> LinkedIn </a>
            </li>
            <li>
              <a href="https://x.com/tsig" class=""> Instagram </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="mt-4 md:mt-12 overflow-hidden -mb-24!">
      <h1
        class="text-center text-3xl md:text-8xl uppercase font-bold bg-clip-text text-transparent bg-gradient-to-b from-foreground to-background to-90% select-none font-mono mb-0 pb-0"
      >
        technology special interest group
      </h1>
    </div>
  </div>
</footer>
