---
import Footer from '../components/Footer.astro'
import Main from '../components/Main.astro'
import Second from '../components/Second.astro'
import '../styles/fonts.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TSIG - Recuirment 2024</title>

  
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="TSIG" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
  </head>
  <body>
    <Main/>
    <Second/>
    <!-- <Footer/> -->
  </body>
</html>

<style>
  

</style>

