---
import Home from "../components/next/internprenuer/page"
import "../styles/global.css"
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Internprenuer 5.0</title>
  </head>
  <body class="bg-[#BBDDFD]">
      <Home client:visible/>
  </body>
</html>
