---
import Footer from "..//components/next/ui/footer"
import Home from "../components/next/internprenuer/page"
import "../styles/global.css"
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Internprenuer 5.0</title>
  </head>
  <body class="bg-[#BBDDFD]">
      <Home client:visible/>
      <Footer client:visible/>
  </body>
  <script type="module">
  import Lenis from 'lenis';
  const lenis = new Lenis();
  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);
  </script>
</html>
