---
import Home from "../components/next/internprenuer/page"
import "../styles/global.css"
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Internprenuer 5.0</title>
  </head>
  <body class="bg-[#BBDDFD]">
      <Home client:visible/>
      <section class="p-16 flex flex-wrap items-centertems justify-center font-mono tracking-wide flex-col m-auto w-fit text-center">
          <p>Internpreneur 5.0</p>
          <p>TSIG @{new Date().getFullYear()}</p>
      </section>
  </body>
  <script type="module">
  import Lenis from 'lenis';
  const lenis = new Lenis();
  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);
  </script>
</html>
