---
import Navbar from "../components/next/validate/navbar";
import "../styles/fonts.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Validate Certificate</title>
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-96x96.png"
      sizes="96x96"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicons/favicon.ico"
      media="(prefers-color-scheme: light)"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
  </head>
  <body class="bg-[#f0f0f0]">
    <Navbar client:visible />
    <!-- <Certificate id={numericId} /> -->
    <div class="flex items-center justify-center"><h1>This certificate doesn't exist.</h1></div>
  </body>
</html>
