@import '/src/style/functions';
@import '/src/style/varaibles';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: $white;
    background: $balck;
    font-family: $sora;
    cursor: default;
}

.pointer{
    cursor: pointer;
}