@mixin flex($justify:center,$align:center,$dircetion:row,$wrap:wrap,$gap:8px){
    display: flex;
    flex-direction: $dircetion;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap:$gap;
}

@mixin bg($color:$black,$opacity:1){
    background: $color;
    opacity: $opacity;
}