@use './base';

#enroll-box{
    $widht:90%;
    @include flex(center,center,column,wrap,10px)
;    .heading{
        @extend .heading;
        margin: auto;
        width: $widht;
        text-align: left;
    }
    background: rgba($color: $tertiary-color, $alpha: 0.9);

    width: 100%;
    color: $balck;

    text-transform: capitalize;

    #points{
        margin: auto;
        margin-top: clamp(20px,1.5svw,3svw);
        width: $widht;
        list-style-type: none;
        li{
            font-size: clamp(16px,1.4svw,2svw);
            font-family: $martian;
            font-weight: 300;
            border-radius: 1svw;
            margin-bottom: clamp(8px,0.8svw,1svw);
            padding: clamp(8px,0.8svw,1svw);
        }
    }
    .action-call{
        color: $balck;
        span{
            color: $secondary-color;
            font-weight: 700
        }
        @extend .details-heading;
        text-align: center;
        width: fit-content;
        scale: 0.8;
        font-weight: 500;
        margin-top: 50px;
    }
    .action-btn{
        all: unset;
        
        margin: clamp(8px,1svw,2svw);
        .box{
            @extend .box;
            border: none;
            background: $primary-color;
            width: fit-content;
            font-weight: 600;
            margin: 2px;

            text-transform: uppercase;
            letter-spacing: clamp(4px,0.4svw,1svw);
            transition: all ease 800ms;
            &:hover,&:active,&:focus{
                background: $secondary-color;
                color: $white;
                .rotate{
                    rotate: -15deg;
                }
                .tsig-text-btn{
                    color: $primary-color;
                }
            }
            &::before{
                height: 0;
                width: 0;
            }

        }
        i{
            @extend .icons;
        }
        .rotate{
            
            transition: all ease 800ms;
        }
        .tsig-text-btn{
            color: $secondary-color;
            font-size: clamp(16px,1.5svw,3svw);
            font-weight: 800;
            transition: all ease 800ms;
        }
    }

}

#enroll-box::after{
        display: block;
        content: "";
        min-height: 40px;
        width: 100%;
}