@use "/src/style/base";

#event-info {
    @include flex(center, center, column, wrap, 10px);

    background: rgba($primary-color,0.9);
    width: 100%;
    min-height: 80svh;
    color: $balck;
    position: relative;
    padding: 2svw 5svw;
    .text-wrapper {
        font-size: clamp(20px,2svw,3svw);
        line-height: clamp(40px,2.5svw,3svw);

        padding: 3svw;

        @include flex(center, flex-start,column,wrap,clamp(8px,1svw,2svw));
        b{
            font-weight: 600;
        }
    }
}

.heading {
    text-align: center;
    font-size: clamp(30px,4svw,4.5svw);
    text-transform: uppercase;

    font-family: $martian;
    font-weight: 500;
    letter-spacing: 0.2svw;
}
    
#intern {
        position: relative;
        transition: all ease 500ms;
        color: $secondary-color;
}

#detail-btn{
    @extend .pointer;
    all: unset;
    margin: 1svw;
    background: rgba($secondary-color,0.9);
    color: rgba($white,0.9);

    padding: 1.2svw 3svw;


    border-radius: clamp(8px,0.4svw,1svw);

    font-weight: 600;
    font-size: clamp(20px,1.4svw,2svw);
    text-transform: capitalize;

    transition: all ease 500ms;

    &:hover,&:focus,&:active{
        filter: drop-shadow(0 0 5px rgba($balck,0.5));
        scale: 1.02;
        rotate: 0.5deg;
    }
}