@use '/src/style/base';
#home{
    margin: 0;
    position: relative;
    overflow: hidden;
}
#black-tint{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    @include bg(
        radial-gradient(
        ellipse at center,
        transparent,
        $balck  70%),1);
    height: 100%;
    width: 100%;
}


//cursor animation
#app:hover > #event-cursor {
    opacity: var(--opacity);
    
}
#event-cursor{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;

    position: fixed;
    top: 0;
    left: 0;
    $color: var(--color);
    background: $color or $white;

    z-index: 9999;

    pointer-events: none;
    opacity: 0;
    transition: all 300ms linear;
    filter: blur(20px);
}
.pointer{
    cursor: pointer;
}


.status-banner{

    @include flex();
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    color: $primary-red;
    margin-top: 10px; 
    padding: 8px;
    padding-inline: 20px;
    background: rgba($primary-red,0.15);
    border: 1px solid $primary-red;
    border-radius: 8px;

    font-family: $martian;
    font-weight: 300;
    font-size: clamp(12px,01svw,1.8svw);
    text-align: center;

    .dots{
        min-height: 5px;
        height: 0.5svw;
        aspect-ratio: 1;
        display: inline-block;
        border-radius: 100%;
        background: $primary-red;
        animation: warn 2s ease-in-out 0s infinite alternate;    
    }
}
@keyframes warn{
    to{
        box-shadow: 0 0 16px 4px $primary-red;
    }
    from {
        box-shadow: 0 0 16px 0px $primary-red;
    }
}