@use '/src/style/base';
#home{
    margin: 0;
    position: relative;
    overflow: hidden;
}
#black-tint{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    @include bg(
        radial-gradient(
        ellipse at center,
        transparent,
        $balck  70%),1);
    height: 100%;
    width: 100%;
}


//cursor animation
#app:hover > #event-cursor {
    // opacity: var(--opacity);
    opacity: 0.2;
    
}
#event-cursor{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;

    position: fixed;
    top: 0;
    left: 0;
    $color: var(--color);
    background: $color or $white;

    z-index: 9999;

    pointer-events: none;
    opacity: 0;
    transition: all 300ms linear;
    filter: blur(20px);
}
.pointer{
    cursor: pointer;
}