---
const { text } = Astro.props;
---

<section class="title">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="icon"
      ><rect width="256" height="256" fill="none"></rect><line
        x1="40"
        y1="128"
        x2="216"
        y2="128"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"></line><polyline
        points="144 56 216 128 144 200"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"></polyline></svg
    >

    <p>{text}</p>
  </div>
</section>

<style>
  section {
    font-family: "League Spartan";
  }
  div {
    @apply flex items-center justify-center w-full gap-3;
  }
  p {
    @apply text-xl uppercase font-light tracking-wider md:text-4xl md:font-normal mt-2;
  }
  .icon {
    aspect-ratio: 1;
    @apply h-6 md:h-12 stroke-[12px];
  }
</style>
