<section
  class="border-t border-black/5 font-light text-black/50 px-4 grid place-content-center grid-flow-row p-2 text-xs w-full text-center tracking-widest capitalize gap-2 -mt-4"
>
  <a
    href="https://www.instagram.com/t.sig.mjcet/"
    target="_blank"
    class="uppercase text-pink-600 flex items-center justify-center gap-1">
    <img src="/logos/insta.svg" class="aspect-square w-3 stroke-pink-600" alt="">
    tsig</a
  >
  <div class="">
    Recuirment drive - {new Date().getFullYear()}
  </div>
</section>

<style>
  * {
    font-family: "Azeret Mono", monospace;
  }
</style>
