<section
  class="border-t border-white/5 font-extralight text-white/50 px-4 grid place-content-center grid-flow-row p-2 text-xs w-full text-center tracking-widest capitalize gap-2"
>
  <a
    href="https://www.instagram.com/t.sig.mjcet/"
    target="_blank"
    class="uppercase text-pink-500">@tsig</a
  >
  <div class="">
    All rights reserved {new Date().getFullYear()}
  </div>
</section>

<style>
  * {
    font-family: "Azeret Mono", monospace;
  }
</style>
