---
import { Image } from "astro:assets";
import "../styles/mainSect.css";
---

<section class="min-h-screen flex items-center justify-center flex-col gap-3">
  <img src="/logos/optimized_logo.svg" alt="" />
  
  <span class="text-5xl tracking-[18px] -mr-[18px] font-black">tsig</span>
  <button type="button" class="btn" name="form-link">
    <strong>explore your potential</strong>
    <div id="container-stars">
      <div id="stars"></div>
    </div>
    <div id="glow">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </button>
  <a href="#why-sect" class="why"> why join us ? </a>
</section>

<script defer>
  const btn = document.getElementsByClassName("btn");
  btn[0].onclick = () => {
    window.open("https://forms.gle/emGm1XVR87g2bsNGA", "_blank");
  };

</script>
