---
import Card from "./Card.astro";
const items = [
  {
    text: "isro rover competion - <span class='cus-grad'>top 100 all india</span> ",
  },
  {
    text: "aiesec hackathon <span class='cus-grad'>@iith</span> - honrable mention",
  },
  { text: "<span class='cus-grad'>5+</span> r&d projects" },
  { text: "hackrevolution - <span class='cus-grad'>2nd place</span>" },
  {
    text: "majority seniors have <span class='cus-grad'>secured placements</span>",
  },
];
import Footer from "../components/Footer.astro";
---

<section class="h-screen text-black bg-white" id="achive">
  <img class="m-auto aspect-square h-28 mb-10" src="/logos/calli.svg" alt="" />
  <h1 class="font-bold">achievements</h1>
  <section
    class="w-fit ml-6 md:w-full flex flex-col items-center justify-center gap-4 my-20 m-auto"
  >
    <div class="grid grid-flow-row place-items-start gap-6">
      {items.map((item) => <Card text={item.text} classes="md:font-bold font-bold" src="/logos/move.svg" />)}
    </div>
  </section>
  <Footer />
</section>

<style>
  * {
    font-family: "tsig-font", sans-serif;
  }
  #achive {
    @apply p-8;
  }

  h1 {
    @apply text-3xl md:text-6xl tracking-wide text-center;
  }
  h3 {
    font-family: "DecoType Thuluth II";
  }
</style>
